project:
  type: website

website:
  title: "CRANhaven"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - text: Articles
        menu:
          - text: "Dashboard: Recently Archived CRAN Packages"
            href: dashboard-live.qmd
          - text: "Dashboard: Packages At-Risk of Being Archived"
            href: dashboard-at-risk.qmd
          - text: "Study: Many Archived Packages Return to CRAN"
            href: cran-archiving-stats.html
      - about.qmd

    right:
      - icon: github
        href: https://github.com/cranhaven/cranhaven.org/
        aria-label: GitHub
 
  search: 
    location: navbar
    type: overlay

  margin-header: |
    <a href="https://cranhaven.r-universe.dev/builds"><img src="https://cranhaven.r-universe.dev/badges/:total" alt="CRANhaven number of packages"/></a>
    <a href="https://github.com/CRANhaven/cranhaven.r-universe.dev/actions/workflows/update.yml"><img src="https://github.com/CRANhaven/cranhaven.r-universe.dev/actions/workflows/update.yml/badge.svg" alt=""/></a>

  repo-url: https://github.com/cranhaven/cranhaven.org/
  repo-actions: [source, edit, issue]
  
bibliography: references.bib

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    page-layout: full
    grid:
      body-width: 1000px
      sidebar-width: 50px
      margin-width: 250px
      gutter-width: 1.5em

execute:
  freeze: auto
